<!DOCTYPE html">
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="design.css">
<meta charset="utf-8" />
<title>Création d&#39;un design étape par étape - Etape n°1 : Le code xhtml</title>
</head>
<body>
<div id="conteneur"> 
<h1 id="header"><span><em>Bienvenu dans notre site web ..</em></span></a></h1>
<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkuellowp" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-weight: bold; font-style: normal;" class="navaccueil">
        <div class="navbar-nav ">
          <a class="nav-link"  style="color:red" aria-current="page" href="/magasin/liste"> <i class="fa-brands fa-shopify"></i> Magasin</a>
          <a class="nav-link" style="color:red" href="#">Application 2</a>
          <a class="nav-link" style="color:red" href="#">Application 3</a>
        </div>
      </div>
    </div>
  </nav>
<div id="contenu">
<h2></h2>
<p></p>
</div>
<hr>
<p id="footer">
    <i class="fa-brands fa-square-facebook fa-2xl"></i>  <i class="fa-brands fa-square-instagram fa-2xl"></i>
    <br>
    <br>
    <i class="fa-solid fa-phone"></i> +216 70 652 411  or +216 70 652 412
    <br>
    <i class="fa-regular fa-copyright"></i> All right reserved 2023
    
</p>
</div>
</body>
</html>